XML_SOAP_Req_Files/Soap-Envelope.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://schemas.xmlsoap.org/soap/envelope/"
           xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/"
           elementFormDefault="qualified">

  <xs:element name="Envelope">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Header" minOccurs="0" type="xs:anyType"/>
        <xs:element name="Body" minOccurs="1" type="xs:anyType"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="Header" type="xs:anyType"/>
  <xs:element name="Body" type="xs:anyType"/>

</xs:schema>
